.produtos-titulo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.produtos-titulo h2 {
    font-size: 32px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .produtos-titulo {
        padding-bottom: 1rem;
    }
}