.adicionarProduto-campo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--fundoNav);
    margin-bottom: 1rem;
}

.adicionarProduto-campo label {
    padding-bottom: .5rem;
    color: var(--rodapeVariacao);
    font-size: 12px;
    font-weight: 400;
}

.adicionarProduto-campo input {
    color: var(--rodape);
    font-size: 16px;
    font-weight: 400;
}