@media screen and (max-width:1130px) {
    .principal-imagem {
        width: 400px;
    }
}

@media screen and (max-width:768px) {
    .principal-imagem {
        width: 250px;
        height: 200px;
    }
}

@media screen and (max-width:500px) {
    .principal-imagem {
        width: 1000svw;
        height: 192px;
    }
}