.produto {
    width: 15%;
}

@media screen and (max-width: 768px) {
    .produto {
        padding-bottom: 3rem;
        width: 24%;
    }
}

@media screen and (max-width: 360px) {
    .produto {
        padding-bottom: 3rem;
        width: 48%;
    }
}