.procurar {
    background-color: var(--fundoNavInput);
    border-radius: 15px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;   
    display: flex;
    align-items: center;
    height: 40px;
}

@media screen and (max-width: 575px) {
    .procurar {
        background-color: initial;
        order: 3;
    }
}