.container {
    width: 75vw;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .container {
        width: 93vw;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 95vw;
    }
}