footer {
    background-color: var(--fundoFooter);
}

.container-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .container-footer {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        height: 450px;
    }
}

@media screen and (max-width: 450px) {
    .container-footer {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
}